doctype=html
html(language=tr)
    head    
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
        link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css?family=Lato|Lobster&amp;subset=latin-ext" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="../css/styles.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        
    body
        .row.row-header
            .col-lg-2.col-md-1
            .col-lg-8.col-md-10
                .top-logo.pull-left 
                    a(href="../") GirişimSepeti
                ul.pull-right.menu-right
                    - if (!req.isAuthenticated()){
                    li
                        a(href="../kayit") Kayıt ol
                    li
                        a(href="../giris") Giriş
                    - } else {
                    li
                        a(href="../cikis") Çıkış
                    li
                        a(href="../yeniurun") Ürün ekle
                    li
                        a(href="../kullanici/" + req.user._id) Profilim
                    - }
            .col-lg-2.col-md-1
        .row.row-main
            .col-lg-2.col-md-1
            .col-lg-8.col-md-10
                block content
        .row
            include footer

            