extends header
block content
    .col-lg-2
    .box.col-lg-8.box-middle
        .box-header
            .glyphicon.glyphicon-asterisk 
            span Giriş yap
        .box-content            
            form.form-login(action="/giris" method="post")
                center
                    - if (message.length > 0) {
                    .alert.alert-danger
                        p= message
                    - }
                    input.form-control(type="text" placeholder="Kullanıcı adı" name="id")
                    br
                    input.form-control(type="password" placeholder="Şifre" name="password")
                    br
                    button.form-control.btn-login(type="submit") Giriş yap