extends header
block content
        .row.main-logo Sepet
        form.row.searchform(action="/ara" method="post")
            center
                .dropdown
                    input.searchbox(type="text" autocomplete="off" name="product" list="searchMenu")
                    button.searchbutton(type="submit")
                            .glyphicon.glyphicon-search
                    .dropdown-content#searchMenu
            // anlık arama scripti
            script.
                $('#searchMenu').hide();
                $('.dropdown').focus(function(){
                    if($('input').val())
                        $('#searchMenu').show();
                });
                $('input').focusout(function(){
                    if(!$('searchMenu').is(":hover"))
                        $('#searchMenu').hide();
                });
                // buraya kadar hepsi görsel. input alanında değer varsa sonuç kutusunu göster, 
                // focus input alanında değilse sakla falan.
                // hemen alttaki fonksiyonda da tuş basıldıkça yeni değeri /anlikarama'ya
                // pass edip gelen değerleri sonuç kutusuna yazıyor.
                $('input').keyup(function(event) {
                    $.post("/anlikarama",
                    {                      
                       query: $('input').val()
                    },
                    function(data, status){
                        $('#searchMenu').text("");
                        if(data.length === 0){
                            $('#searchMenu').hide();
                        }
                        if(data.length !== 0 && $('input').val() !== ""){
                            for(i=0;i<data.length;i++){
                                $('#searchMenu').append('<a href="../urun/' + data[i].productId + '?a=bar"><div class="searchItem">' + data[i].name + "</div></a>");
                            }
                            $('#searchMenu').show();
                        }
                    });
                });
        .box 
            .box-header
                .glyphicon.glyphicon-asterisk 
                span Son Arananlar
            .box-content
                .row
                - var i = 0;
                - while(i < 6 && i < lastsearched.length) {
                    .lastadded-box.col-lg-2.col-md-2
                        center
                            a(href="/urun/" + lastsearched[i].productId) 
                                .row.lastadded-product-pic 
                                .row #{lastsearched[i].productName}
                - i++; }
                .row
                - var i = 6;
                - while(i < 12 && i < lastsearched.length) {
                    .lastadded-box.col-lg-2.col-md-2
                        center
                            a(href="/urun/" + lastsearched[i].productId) 
                                .row.lastadded-product-pic 
                                .row #{lastsearched[i].productName}
                - i++; }
        .box.box-emptyspace    
            .box-header
                .glyphicon.glyphicon-asterisk 
                span Son Eklenenler
            .box-content
                .row
                - var i = 0;
                - while(i < 6 && i < lastadded.length) {
                    .lastadded-box.col-lg-2.col-md-2
                        center
                            a(href="/urun/" + lastadded[i].productId) 
                                .row.lastadded-product-pic 
                                .row #{lastadded[i].name}
                - i++; }
                .row
                - var i = 6;
                - while(i < 12 && i < lastadded.length) {
                    .lastadded-box.col-lg-2.col-md-2
                        center
                            a(href="/urun/" + lastadded[i].productId) 
                                .row.lastadded-product-pic 
                                .row #{lastadded[i].name}
                - i++; }
                .row
        .col-lg-2