extends header
block content
    form.newproduct(action="/yeniurun" method="post")
        input(type="text" placeholder="ürün adı" name="name")
        br
        input(type="text" placeholder="fiyatı" name="price")
        br
        button(type="submit") ürün ekle