extends header
block content
            .box
                .box-content.product-main.row
                    .product-pics
                    .product-info
                        .product-name ürün adı #{product.name}
                        .product-price fiyat #{product.price}
                        .product-poster ekleyen 
                            a(href="../kullanici/" + product.poster ) #{product.poster}
            .row.comments-header #{product.comments.length} yorum:
            each val in product.comments
                .comment-box 
                a(href="../kullanici/" + product.poster) #{val.poster} 
                span - #{val.text}
            - if(req.isAuthenticated()){
            form(action="/yorum/" + product.productId method="post")    
                textarea(name="comment" placeholder="yorum ekle")
                br
                button(type="submit") yorum ekle 
            - }