extends header
block content
    each val in results
        .search-result ürün: 
            a(href="../urun/" + val.productId + "?a=1") #{val.name}  
            span fiyat: #{val.price} - ekleyen: 
            a(href="../kullanici/" + val.poster + "?a=1") #{val.poster}
        
