::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #B2B2B2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #B2B2B2;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #B2B2B2;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #B2B2B2;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #B2B2B2;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
html{
    min-height: 100%;
    position: relative;
}
body
{
    font-family: 'Lato', sans-serif;
    background-color: #f7f7f7;
    overflow-y:scroll;
}
.row-header{
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #e3deda;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.menu-right{
    list-style-type: none;
    
}
.menu-right > li {
    float: right;
    height: 40px;
    line-height: 50px;
    text-align: center;
    
}
.menu-right > li a {
    display: block;
    text-align: center;
    padding: 0 16px 0 16px;
    text-decoration: none;
    color: #950020;
}
.menu-right > li a:hover {
    background-color: #f7f7f7;
}
.row-main{
    padding-top: 70px;
    padding-bottom: 100px;
}

.top-logo{
    font-family: 'Lobster', cursive;
    color: #e33054;
    font-size: 33px;
}
.main-logo{
    font-family: 'Lobster', cursive;
    color: #950020;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
}
.searchform 
{
    padding-right: 50px;
    margin-bottom: 60px;
    margin-top: 30px;
}
.searchbox{
    width: 400px;
    height: 50px;
    padding-left: 10px;
    font-size: 30px;
    border-radius: 0px;
    border-width: 1px 0px 1px 1px;
    border-color: #cccccc;
    border-style:solid;
}
.searchbox:focus{
    outline:none;
}
.searchbutton{
    background-color: #950020;
    height: 50px;
    width: 50px;
    border-width: 0px;
    position: absolute;
    color: white;
}
.searchbutton:focus{
    outline:none;
}
.glyphicon-asterisk{
    color: #950020;
    margin-top: 4px;
    
}
.box-emptyspace{
     padding-top: 50px;
}
.box-header
{
    border-width: 0;
    background-color: #f7f7f7;
    font-size: 40px;
    color: black;
    font-family: 'Lobster', cursive;
}
.box-content{
    background-color: #ffffff;
    border: solid 0.5px #cccccc;
}
.lastadded-box{
    /*border-width: 0 0.5px 0.5px 0;
    border-color: #cccccc;
    border-style: solid;*/
    padding: 20px;
}
.lastadded-product-pic{
    height: 130px;
    width: 100px;
    background-color: #f7f7f7;
    border: solid 1px black;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.box-middle{
    vertical-align: middle;
}
.form-login{
    width: 100%;
    margin: auto;
    padding: 50px 50px 50px 50px;
}
.btn-login:hover{
    background-color: #950020;
    color: #ffffff;
    border: 0;
}

.footer{
    width: 100%;
    color: white;
    text-align: center;
    height: 50px;
    background-color: black;
    padding-top: 15px;
    position: absolute;
    bottom: 0px;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    
    z-index: 1;
    position: absolute;
    width: 400px;
    border: solid #cccccc;
    border-width: 0px 1px 1px 1px;
    text-align: left;
    background-color: white;
}
.searchItem{
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
.searchItem:hover{
    background-color: #e3deda;
}
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
a
{
    color: black;
}
.product-main{
    padding: 15px;
    width: 100%;
}
.product-pics{
    width: 300px;
    height: 300px;
    background-color: #f7f7f7;
    border: solid 1px #cccccc;
}
.product-info{

}


